.productmodal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  border: radius 1rem;
  overflow: hidden;
  &-info,
  &-price-info,
  &-actions,
  &-header {
    padding: 0.5rem 1.5rem;
  }
  &-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border-radius: 1rem;
    overflow: hidden;
    &:after {
      content: "";
      display: table;
      padding-bottom: 120%;
    }
    & img {
      position: absolute;
      height: 80%;
      width: auto;
    }
  }
  &-product {
    display: flex;
    flex-direction: column;
  }
  &-header {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin: 0.25rem;
  }
  &-header-actions {
    margin-right: -0.5rem;
    display: flex;
    gap: 0.125rem;
  }
  &-descr {
    font-size: 1rem;
    line-height: 1.5;
  }
  &-name {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 0.75rem 0;
  }
  &-price-info {
    margin-top: auto;
  }
  &-price {
    font-weight: 500;
    font-size: 1.75rem;
    gap: 0.5rem;
    margin-top: 0.75rem;
  }
  &-price > div {
    display: inline-flex;
  }
  &-price-current:after,
  &-price-old:after {
    content: "€";
    margin-left: 0.125em;
  }
  &-price-old {
    color: #888888;
    font-weight: 400;
    font-size: 0.75em;
    margin-left: 0.5rem;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      height: 1.25px;
      background: currentColor;
      transform: rotate(-10deg);
    }
  }
  &-actions {
    margin: 1rem 0 1rem 0;
  }
  &-actions button {
    width: 100%;
  }
}
